/** ESTILOS GENERALES */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.noCustomers,
.noPets,
.noMedicines {
    margin: 1rem 0 1rem 0;
}

.titlePrincipal {
    margin: 1rem 0 1rem 0;
    font-size: 3rem;
    text-align: center;
}

.descriptionGeneral {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    text-align: center;
}

.container {
    margin: 0 2rem 2rem 2rem;
}

.medicinesGeneralContainer {
    margin: 2rem;
}

.reportGeneral,
.titleClients,
.titleCreatePet,
.titlePetss {
    margin-bottom: 1rem;
}

/* ESTILOS GENERALES EN BOTONES */
#btn_create_client,
#btn_create_medicing,
.btn_create_pet,
.btn-reportGeneral,
.btn_update_save,
.btn_report_customer,
.btn_eliminar_customer,
.btn_actualizar_customer,
.btn_actualizar_pet,
.btn_eliminar_pet,
.btn_update_save_pet,
.btn_quitar,
.btn_actualizar_medicineg,
.btn_eliminar_medicineg,
.btn_update_save_medicine {
    border-width: 0;
    border-radius: 8px;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
}

#btn_create_client:active,
#btn_create_medicing:active,
.btn_create_pet:active,
.btn-reportGeneral:active,
.btn_update_save:active,
.btn_report_customer:active,
.btn_eliminar_customer:active,
.btn_actualizar_customer:active,
.btn_actualizar_pet:active,
.btn_eliminar_pet:active,
.btn_update_save_pet:active,
.btn_quitar:active,
.btn_actualizar_medicineg:active,
.btn_eliminar_medicineg:active,
.btn_update_save_medicine:active {
    position: relative;
    top: 1px;
}

/** BUTTON DE INFORME GENERAL */
.btn-reportGeneral {
    width: 10rem;
    height: 3rem;
    margin-bottom: 2rem;
    background-color: #461ef7;
    font-size: 1rem;
}

.btn-reportGeneral:hover {
    background-color: #7356f5;
}

/** FORMULARIO DE CREAR CLIENTE Y CREAR MEDICINA */
#createClient,
#CreateMedicine {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.form__group {
    position: relative;
    width: 15rem;
    min-width: 200px;
    margin-bottom: 1.5rem;
    padding: 15px 0 0;
}

.form__field {
    width: 100%;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    padding: 7px 0;
    background: transparent;
    color: #000000;
    font-size: 1.3rem;
    font-family: inherit;
    transition: border-color 0.2s;
    outline: 0;
}

.form__field::placeholder {
    font-weight: normal;
}

.form__field:focus {
    padding-bottom: 6px;
    font-weight: 600;
    border-width: 3px;
    border-image: linear-gradient(to right, #11998e, #38ef7d);
    border-image-slice: 1;
}

/** BUTTONS DE CREAR */
#btn_create_client,
#btn_create_medicing,
.btn_create_pet {
    display: block;
    width: 10rem;
    height: 3rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    background-color: #00722e;
    font-size: 1rem;
}

#btn_create_client:hover,
#btn_create_medicing:hover,
.btn_create_pet:hover {
    background-color: #1b723e;
}

/** BUTTONS DE UPDATE */
.btn_update_save,
.btn_update_save_pet,
.btn_update_save_medicine {
    display: block;
    width: 10rem;
    height: 3rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
    background-color: #f81f84;
    font-size: 1rem;
}

.btn_update_save:hover,
.btn_update_save_pet:hover,
.btn_update_save_medicine:hover {
    background-color: #f1559e;
}

/** RENDERS DE TODO EL CRUD */
#render_clients,
#render_pets,
#render_medicines,
#medicinesGeneral {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#render_clients section,
#render_pets section,
#render_medicines section,
#medicinesGeneral section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 15rem;
    margin: 0 1rem 1rem 0;
    padding: 1rem;
    background-color: #eeeeee;
    border-radius: 15px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}

#render_clients section:hover,
#render_pets section:hover,
#render_medicines section:hover,
#medicinesGeneral section:hover {
    position: relative;
    top: 5px;
}

#render_clients section h2,
#render_pets section h2,
#render_medicines section h2,
#medicinesGeneral section h2 {
    text-align: center;
    cursor: pointer;
}

#render_clients section p,
#render_pets section p,
#render_medicines section p,
#medicinesGeneral section p {
    text-align: center;
}

#render_clients section {
    height: 20rem;
}

#render_pets section {
    height: 15rem;
}

#render_medicines section {
    height: 15rem;
}

#medicinesGeneral section {
    height: 15rem;
}

/** CONTENEDORES DE LOS BOTONES DE LAS CARDS */
.container_btn_client,
.container_btn_pet,
.container_btn_medicine,
.container_btn_medicinesGeneral {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

/** BOTONES DE REPORTE, ELIMINAR Y ACTUALIZAR DE LAS CARDS */
.btn_report_customer,
.btn_eliminar_customer,
.btn_actualizar_customer,
.btn_actualizar_pet,
.btn_eliminar_pet,
.btn_quitar,
.btn_actualizar_medicineg,
.btn_eliminar_medicineg {
    display: block;
    width: 7rem;
    height: 2rem;
    margin-bottom: .5rem;
    font-size: .8rem;
}

.btn_report_customer {
    background-color: #461ef7;
}

.btn_actualizar_customer,
.btn_actualizar_pet,
.btn_actualizar_medicineg {
    background-color: #777777;
}

.btn_eliminar_customer,
.btn_eliminar_pet,
.btn_quitar,
.btn_eliminar_medicineg {
    background-color: #fd4050;
}

.btn_report_customer:hover {
    background-color: #7356f5;
}

.btn_actualizar_customer:hover,
.btn_actualizar_pet:hover,
.btn_actualizar_medicineg:hover {
    background-color: #a0a0a0;
}

.btn_eliminar_customer:hover,
.btn_eliminar_pet:hover,
.btn_quitar:hover,
.btn_eliminar_medicineg:hover {
    background-color: #f85f6c;
}

.containerUpdate,
.containerUpdateMedicine {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.titleUpdateClient,
.titleUpdatePet,
.titleMedicine {
    width: 100%;
    margin: 1rem 0 1rem 0;
}

.titleCreatePet {
    width: 100%;
    margin-top: 1rem;
}

.containerCreatePet {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#checkbox_medicines,
#update_checkbox_medicines {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.titleCreatePetMedicaments {
    width: 100%;
    margin-bottom: 1rem;
    text-align: center;
}

#checkbox_medicines label,
#update_checkbox_medicines label {
    margin-bottom: .5rem;
}

.titlePets {
    width: 100%;
    margin-bottom: 1rem;
}

.medicinesGeneralContainer h1 {
    text-align: center;
}

.titleUpdateMedicine {
    width: 100%;
    margin: 1rem 0 1rem 0;
}

/** GIF DE ANIMALITOS */
#gato {
    width: 150px;
    height: 150px;
}

.animals {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.animals img {
    width: 200px;
    height: 100px;
}

/** REPORTES */
#resultReport {
    padding: 2rem;
}

#ReportClient {
    padding: 0 2rem 2rem 2rem;
}

#resultReport div,
#ReportClient div {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
}

#resultReport div h2,
#ReportClient div h2 {
    margin-bottom: 1rem;
    text-align: center;
}

#resultReport div table,
#ReportClient div table {
    min-width: 500px;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
    border-collapse: collapse;
    font-size: 1rem;
}

.encabezados {
    background-color: #461ef7;
    color: #ffffff;
    text-align: left;
}

#resultReport div table th,
#resultReport div table td,
#ReportClient div table th,
#ReportClient div table td {
    padding: 1rem 2rem;
}

#resultReport div table tr,
#ReportClient div table tr {
    border-bottom: 1px solid #dddddd;
    cursor: pointer;
}

#resultReport div table tr:nth-of-type(even),
#ReportClient div table tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

#resultReport div table tr:last-of-type,
#ReportClient div table tr:last-of-type {
    border: 0;
}

#resultReport div table tr:first-of-type:hover,
#ReportClient div table tr:first-of-type:hover {
    color: #ffffff;
}

#resultReport div table tr:hover,
#ReportClient div table tr:hover {
    color: #461ef7;
}

#resultReport div table tr td ul,
#ReportClient div table tr td ul {
    list-style-type: none;
}